# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Build output
/dist
/build
/client/dist

# Logs
*.log

# Environment variables
.env
.env.*
!/.env.example

# IDE and OS specific
.DS_Store
.vscode/